{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "simple-import-sort", "sort-keys-fix"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-console": [
      "error",
      {
        "allow": ["error"]
      }
    ],
    "simple-import-sort/imports": "error",
    "sort-keys-fix/sort-keys-fix": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
